name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 0
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
      with:
        repo-token: ${{ secrets.GH_RENOVATE_WRITER_TOKEN }}